.container {
  width: 1336px;
  margin: auto;
}

.introduction {
  width: 1336px;
  height: 750px;
  margin: auto;

  background-image: url(../assets/images/intro-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.information {
  width: 754px;
  height: 455px;
  margin: auto;
  padding-block: 120px;
}

.header {
  width: 680px;
  height: 327px;

  margin: auto;
}

.header img {
  width: 112px;
  height: 112px;
  margin-bottom: 56px;
  position: relative;
  left: 50%; /* Ajusta o posicionamento horizontal */
  transform: translateX(
    -50%
  ); /* Move a imagem 50% para a esquerda para centralizar */
}

.double-down {
  width: 32px;
  height: 32px;
  margin: auto;
  margin-top: 80px;
}
