.project {
  width: 1336px;
  height: 917px;
  padding: 72px 120px 144px;
}

.grid-cards {
  width: 1040px;
  margin: auto;
  margin-top: 56px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px 24px;
}

.cards {
  width: 330px;
  height: 280px;
  background-color: var(--gray-300);
  border-radius: 12px;
}

.img-cards {
  width: 306px;
  height: 156px;
  margin-block: 12px 20px;
  margin-left: 12px;
  margin-right: 12px;
}

.text-cards {
  width: 306px;
  height: 75px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 17px;
}
