.container {
  width: 1336px;
  border: solid 1px red;
  margin: auto;
}

.introduction {
  width: 1336px;
  height: 750px;
  border: solid 1px green;
  margin: auto;
  background-image: url(../assets/images/intro-background.png);
}

.information {
  width: 754px;
  height: 447px;
  border: solid 1px blue;
  margin-inline: auto;
  margin-block: 120px;
}

.header {
  width: 680px;
  height: 327px;
  border: solid 1px yellow;
  margin: auto;
}

.header img {
  width: 112px;
  height: 112px;
  margin-bottom: 56px;
  position: relative;
  left: 50%; /* Ajusta o posicionamento horizontal */
  transform: translateX(
    -50%
  ); /* Move a imagem 50% para a esquerda para centralizar */
}
